body {
  font: 24px "Century Gothic", Futura, sans-serif;
  margin-left: 50px;
  margin-top: 30px;
  font-weight: 600;
}

ol, ul {
  padding-left: 50px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 12px;
  font-size: 36px;
}

.square {
  background: #fff;
  border: 5px solid #999;
  float: left;
  font-size: 100px;
  font-weight: bold;
  line-height: 34px;
  height: 150px;
  margin-right: -5px;
  margin-top: -5px;
  padding: 0;
  text-align: center;
  width: 150px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 90px;
}

.btn-default {
  font-size: 24px;
  border-radius: 8px;
  margin-bottom: 11px;
  padding: 5px 12px;
  border: 1px black solid;
}

.btn-default:focus {
  outline: none;
}

.active {
  font-weight: 700;
  background: pink;
}