body {
  font: 24px "Century Gothic", Futura, sans-serif;
  margin-left: 50px;
  margin-top: 30px;
  font-weight: 600;
}

ol, ul {
  padding-left: 50px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 12px;
  font-size: 36px;
  display: flex;
}

.square {
  background: #fff;
  border: 5px solid #999;
  float: left;
  font-size: 100px;
  font-weight: bold;
  line-height: 34px;
  height: 150px;
  margin-right: -5px;
  margin-top: -5px;
  padding: 0;
  text-align: center;
  width: 150px;
  color: red;
}

.blue {
  color: blue;
}

.black {
  color: black;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  display: flex;
  margin-left: 60px;
  justify-content: center;
  flex-direction: column;
}

.btn-default {
  font-size: 24px;
  border-radius: 8px;
  margin-bottom: 11px;
  padding: 5px 12px;
  border: 1px black solid;
  transition: all 0.1s ease;
}

.btn-default:focus {
  outline: none;
}

.active {
  font-weight: 700;
  background: pink;
}

.tg-list-item {
  list-style: none;
  padding: 0;
  position: absolute;
  right: 20px;
  height: 50px;
}

.tg-list {
  text-align: center;
  display: flex;
  align-items: center;
}

.tgl {
  display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
  background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 180px;
  height: 50px;
  font-size: 27px;
  position: relative;
  cursor: pointer;
  user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl-flip + .tgl-btn {
  padding: 2px;
  transition: all .2s ease;
  font-family: sans-serif;
  perspective: 100px;
}
.tgl-flip + .tgl-btn:after, .tgl-flip + .tgl-btn:before {
  display: inline-block;
  transition: all .4s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  border-radius: 4px;
}
.tgl-flip + .tgl-btn:after {
  content: attr(data-tg-on);
  background: #02C66F;
  transform: rotateY(-180deg);
}
.tgl-flip + .tgl-btn:before {
  background: #FF3A19;
  content: attr(data-tg-off);
}
.tgl-flip + .tgl-btn:active:before {
  transform: rotateY(-20deg);
}
.tgl-flip:checked + .tgl-btn:before {
  transform: rotateY(180deg);
}
.tgl-flip:checked + .tgl-btn:after {
  transform: rotateY(0);
  left: 0;
  background: #7FC6A6;
}
.tgl-flip:checked + .tgl-btn:active:after {
  transform: rotateY(20deg);
}

@media screen and (max-width: 1050px) {
  body {
    margin-left: 0;
  }

  .game {
    flex-direction: column;
  }

  .tgl + .tgl-btn {
    margin: auto;
  }

  .tg-list-item {
    position: static;
    width: 100%;
  }

  .game-board {
    display: flex;
    justify-content: center;
  }

  .game-info {
    margin: 20px 0;
    flex-direction: column;
  }

  .status {
    justify-content: center;
  }

  .moves {
    margin-left: 50px;
  }
}

@media screen and (max-width: 550px) {
  .status {
    font-size: 30px;
  }

  .moves {
    margin-left: 0;  
    font-size: 18px;
  }

  .btn-default {
    font-size: 15px;
  }

  .square {
    border-width: 3px;
    height: 100px;
    width: 100px;
    font-size: 66px;
  }
}